<div class = "container">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" routerLink="/admin" routerLinkActive="active">Admin</a>
    <a class="navbar-brand" routerLink="" routerLinkActive="active">Search</a>
  <!--  <i class="fa fa-cart-arrow-down" routerLink="/cart" aria-hidden="true">{{ itemInCart }}</i> -->
  <i class="fa fa-cart-arrow-down" routerLink="/cart" aria-hidden="true">Checkout Cart</i>
  </nav>
<router-outlet></router-outlet>
</div>