<div class="row">
    <!--  <div class="col-sm-12 col-md-2">
      <div class="images" *ngFor="let image of product?.imgUrls; let i = index">
               <img [src]="image" alt="" (mouseenter)="displayedImg =i">
        </div>
     </div> 
     <div class="col-sm-12 col-md-5">
        <img [src]="product?.imgUrl[displayedImg]" alt="" style="width:120%">
     </div>  --> 
     <div class="col-sm-12 offset-md-1 col-md-4">
        <h3>{{ product?.name }}</h3>
        <h3>{{ product?.price | currency }}</h3>
        <h2>{{ product?.qty  }}</h2> 
        <button class="btn btn-info" (click)="addToCart()">Add to Cart</button>
    </div>
</div>