<br/>
<h3>Search</h3>
<br/>
<form [formGroup]="searchProductForm" (ngSubmit)="searchProduct()">    
    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" class="form-control" formControlName="productName" aria-describedby="productHelp" placeholder="Product Name" required>
    </div>

    <button class="btn btn-primary">Search</button>
  </form>
  <hr [hidden]="hidden"/>

  <table class="table table-bordered" [hidden]="hidden">
    <thead>
      <tr>
        <th scope="col">Product Id</th> 
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
        <th scope="col">Product Quantity</th>
        <th scope="col">Action</th> 
      </tr>
    </thead>
    <tbody>
        <tr scope="row" *ngFor="let product of products">
            <td>{{product.id}}</td> 
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.qty}}</td> 
            <button type="submit" class="btn btn-link" (click)="addToCart(product)">Add to Cart</button>
        </tr>
    </tbody>
  </table>


